.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-icon {
  width: 100px;
}

.name {
  font-family: 'Roboto';
  color: #12022f;
  text-align: center;
  font-size: 18px;
}
.designation {
  font-family: 'Roboto';
  color: #616e7c;
  text-align: center;
  font-size: 14px;
}
